@import url(_reset.css);
/*
 * @Author: Phan Viet Duc
 * @Email: joomdaily@gmail.com
 *  */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #f07700; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4; }

body {
  background-color: #f4f4f4; }
  body #main_wrapper {
    width: 986px;
    margin: 0 auto;
    padding: 0;
    position: relative; }
    body #main_wrapper #user_nav {
      position: absolute;
      top: -40px;
      right: 22px; }
      body #main_wrapper #user_nav li {
        float: left;
        margin-left: 2px;
        background-color: #666666; }
        body #main_wrapper #user_nav li a {
          color: white;
          padding: 5px 10px;
          display: block; }
    body #main_wrapper header {
      background-color: white;
      border: 1px solid #ccc;
      height: 71px;
      overflow: hidden;
      width: 940px;
      margin: 40px auto 5px; }
      body #main_wrapper header #logo {
        float: left;
        border-right: 1px solid #ccc; }
      body #main_wrapper header #main_sns {
        float: left;
        min-width: 700px;
        min-height: 24px; }
        body #main_wrapper header #main_sns li {
          padding: 5px;
          margin-left: 5px; }
      body #main_wrapper header #main_nav {
        min-width: 875px;
        float: left;
        border-bottom: 1px solid #ccc; }
        body #main_wrapper header #main_nav li {
          float: left;
          border-right: 1px solid #ccc; }
          body #main_wrapper header #main_nav li a {
            text-transform: uppercase;
            font-size: 16px;
            padding: 10px;
            display: block;
            font-weight: bold; }
    body #main_wrapper .wrapper {
      margin-bottom: 40px; }
      body #main_wrapper .wrapper:before {
        background: url(../img/bg_wrapper_top.png) no-repeat left top;
        height: 10px;
        display: block;
        content: ' '; }
      body #main_wrapper .wrapper:after {
        background: url(../img/bg_wrapper_btm.png) no-repeat left bottom;
        height: 15px;
        display: block;
        content: ' '; }
      body #main_wrapper .wrapper .inner_wrapper {
        background: url(../img/bg_wrapper.png) repeat-y;
        padding: 13px 23px 8px; }
        body #main_wrapper .wrapper .inner_wrapper .confirm_chosen_school {
          background-color: #f07700;
          margin: 0 auto;
          cursor: pointer;
          display: block;
          padding: 10px 20px;
          width: 250px;
          color: white;
          font-weight: bold;
          text-align: center; }
        body #main_wrapper .wrapper .inner_wrapper #champion_place_bet .crown {
          width: 37px;
          height: 37px;
          overflow: hidden;
          margin: 0 auto;
          margin-top: 10px; }
        body #main_wrapper .wrapper .inner_wrapper #champion_place_bet .school {
          width: 119px;
          margin: 20px auto;
          display: block; }
        body #main_wrapper .wrapper .inner_wrapper #champion_place_bet .champion_school {
          width: 282px;
          margin: 0 auto;
          margin-top: 20px;
          position: relative; }
          body #main_wrapper .wrapper .inner_wrapper #champion_place_bet .champion_school .champion_image {
            position: absolute;
            top: 65px;
            left: 85px; }
      body #main_wrapper .wrapper #main_banner {
        margin-top: 5px; }
      body #main_wrapper .wrapper section {
        margin-top: 50px;
        position: relative; }
        body #main_wrapper .wrapper section h2 {
          text-align: center;
          font-weight: bold;
          font-size: 20px; }
        body #main_wrapper .wrapper section table {
          width: 100%; }
          body #main_wrapper .wrapper section table td {
            padding: 10px 20px; }
          body #main_wrapper .wrapper section table .left {
            text-align: right;
            width: 50%; }
          body #main_wrapper .wrapper section table .right {
            text-align: left;
            width: 50%; }
        body #main_wrapper .wrapper section .left_four {
          width: 372px;
          float: left; }
        body #main_wrapper .wrapper section .right_four {
          width: 372px;
          float: right; }
        body #main_wrapper .wrapper section .school {
          max-width: 172px;
          overflow: hidden;
          margin-top: 40px;
          padding: 0 6px;
          display: inline-block; }
          body #main_wrapper .wrapper section .school .stake {
            font-size: 12px; }
          body #main_wrapper .wrapper section .school .school_name, body #main_wrapper .wrapper section .school a, body #main_wrapper .wrapper section .school .school_address {
            text-align: center;
            font-weight: bold;
            display: block;
            font-size: 14px; }
          body #main_wrapper .wrapper section .school .school_uniform {
            width: 172px;
            height: 172px;
            position: relative;
            overflow: hidden; }
            body #main_wrapper .wrapper section .school .school_uniform .background_uniform {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 0; }
            body #main_wrapper .wrapper section .school .school_uniform .uniform_image {
              position: absolute;
              top: 12px;
              left: 27px;
              z-index: 1; }
          body #main_wrapper .wrapper section .school .select_button {
            display: none; }
          body #main_wrapper .wrapper section .school .video_button {
            display: none; }
          body #main_wrapper .wrapper section .school .deselect_button {
            display: none; }
          body #main_wrapper .wrapper section .school .school_address {
            font-weight: normal;
            margin-top: 4px;
            font-size: 11px; }
          body #main_wrapper .wrapper section .school .odd_vote {
            margin-left: 10px;
            margin-top: 5px;
            position: relative; }
            body #main_wrapper .wrapper section .school .odd_vote span {
              left: 50px;
              font-size: 12px;
              color: #f07700; }
              body #main_wrapper .wrapper section .school .odd_vote span.odd_number {
                position: absolute;
                bottom: 20px; }
              body #main_wrapper .wrapper section .school .odd_vote span.vote_number {
                position: absolute;
                bottom: 3px; }
        body #main_wrapper .wrapper section .hover {
          background-color: black;
          width: 172px;
          padding: 4px;
          position: absolute;
          z-index: 5; }
          body #main_wrapper .wrapper section .hover .arrow {
            position: absolute;
            bottom: -10px;
            left: 45%; }
        body #main_wrapper .wrapper section#koushien_match .deselect_button {
          display: none; }
        body #main_wrapper .wrapper section#koushien_match .school_uniform:hover .select_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 50px;
          left: 60px;
          background: #f07700;
          display: block;
          z-index: 3;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_match .school_uniform:hover .select_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_match .school_uniform:hover .video_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 85px;
          left: 40px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_match .school_uniform:hover .video_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_first_round .deselect_button {
          display: none; }
        body #main_wrapper .wrapper section#koushien_first_round .hide {
          display: none !important; }
        body #main_wrapper .wrapper section#koushien_first_round .school_uniform:hover .select_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 50px;
          left: 60px;
          background: #f07700;
          display: block;
          z-index: 3;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_first_round .school_uniform:hover .select_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_first_round .school_uniform:hover .video_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 85px;
          left: 40px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_first_round .school_uniform:hover .video_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_second_round .video_button {
          display: none; }
        body #main_wrapper .wrapper section#koushien_second_round .hide {
          display: none !important; }
        body #main_wrapper .wrapper section#koushien_second_round .school_uniform:hover .deselect_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 85px;
          left: 50px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_second_round .school_uniform:hover .deselect_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_second_round .school_uniform:hover .select_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 50px;
          left: 60px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_second_round .school_uniform:hover .select_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_third_round .video_button {
          display: none; }
        body #main_wrapper .wrapper section#koushien_third_round .hide {
          display: none !important; }
        body #main_wrapper .wrapper section#koushien_third_round .school_uniform:hover .deselect_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 85px;
          left: 50px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_third_round .school_uniform:hover .deselect_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#koushien_third_round .school_uniform:hover .select_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 50px;
          left: 60px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#koushien_third_round .school_uniform:hover .select_button:hover {
            color: white;
            text-decoration: none; }
        body #main_wrapper .wrapper section#champion .video_button {
          display: none; }
        body #main_wrapper .wrapper section#champion .hide {
          display: none !important; }
        body #main_wrapper .wrapper section#champion .school_uniform:hover .deselect_button {
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: absolute;
          top: 75px;
          left: 48px;
          background: #f07700;
          z-index: 3;
          display: block;
          padding: 5px;
          cursor: pointer; }
          body #main_wrapper .wrapper section#champion .school_uniform:hover .deselect_button:hover {
            color: white;
            text-decoration: none; }
      body #main_wrapper .wrapper #koushien_guide .note {
        text-align: center;
        margin-top: 230px; }
      body #main_wrapper .wrapper #koushien_guide .choose_team, body #main_wrapper .wrapper #koushien_guide .place_bets, body #main_wrapper .wrapper #koushien_guide .real_zenny {
        float: left;
        position: relative;
        margin-left: 30px;
        color: white; }
        body #main_wrapper .wrapper #koushien_guide .choose_team .first_step_text, body #main_wrapper .wrapper #koushien_guide .place_bets .first_step_text, body #main_wrapper .wrapper #koushien_guide .real_zenny .first_step_text {
          position: absolute;
          top: 45%;
          left: 27%; }
      body #main_wrapper .wrapper #koushien_guide .arrow_step_1, body #main_wrapper .wrapper #koushien_guide .arrow_step_2 {
        float: left;
        margin-left: 40px;
        margin-top: 55px; }
      body #main_wrapper .wrapper #koushien_guide .place_bets .second_step_text {
        position: absolute;
        top: 45%;
        left: 31%; }
      body #main_wrapper .wrapper #koushien_guide .real_zenny .third_step_text {
        position: absolute;
        top: 45%;
        left: 20%; }
      body #main_wrapper .wrapper #koushien_match .stadium {
        margin-top: 100px; }
      body #main_wrapper .wrapper #koushien_match #first_match_school {
        position: absolute;
        top: -80px;
        left: 192px; }
      body #main_wrapper .wrapper #koushien_match #second_match_school {
        position: absolute;
        top: -80px;
        left: 560px; }
      body #main_wrapper .wrapper #koushien_match .vs_img {
        position: absolute;
        top: 30px;
        left: 445px; }
  body .video_background {
    width: 100%;
    height: 100%;
    background-color: rgba(158, 158, 158, 0.56);
    position: fixed;
    z-index: 10000;
    display: block;
    top: 0;
    cursor: pointer; }
    body .video_background .video_container {
      max-width: 560px;
      margin: 0 auto;
      position: relative;
      top: 20%;
      padding: 10px;
      background-color: white;
      z-index: 10001; }
      body .video_background .video_container .close_button {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        position: absolute;
        top: -10px;
        right: -10px;
        display: inline-block;
        overflow: hidden;
        width: 20px;
        height: 20px;
        border: 1px solid #1a99b7;
        background: #1a99b7;
        color: #fff;
        text-align: center;
        line-height: 20px; }
