body{
  background-color:$background_color;
    #main_wrapper{
    width:986px;
    @include align_center;
    position:relative;
    #user_nav{
      position:absolute;
      top:-40px;
      right:22px;
      li{
        float:left;
        margin-left:2px;
        background-color:#666666;
        a{
          color:white;
          padding:5px 10px;
          display:block;
        }
      }
    }
    header{
      background-color:white;
      border:1px solid #ccc;
      height:71px;
      overflow:hidden;
      width:940px;
      margin:40px auto 5px;
      #logo{
        float:left;
        border-right:1px solid #ccc;
      }
      #main_sns{
        float:left;
        min-width:700px;
        min-height:24px;
        li{
          padding:5px;
          margin-left:5px;
        }
      }
      #main_nav{
        min-width:875px;
        float:left;
        border-bottom:1px solid #ccc;
        li{
          float:left;
          border-right:1px solid #ccc;
          a{
            text-transform:uppercase;
            font-size:16px;
            padding:10px;
            display:block;
            font-weight:bold;
          }
        }
      }
    }
    .wrapper{
      margin-bottom:40px;
      &:before{
        background:url(../img/bg_wrapper_top.png) no-repeat left top;
        height:10px;
        display:block;
        content: ' ';
      }
      &:after{
        background:url(../img/bg_wrapper_btm.png) no-repeat left bottom;
        height:15px;
        display:block;
        content: ' ';
      }
      .inner_wrapper{
        background:url(../img/bg_wrapper.png) repeat-y;
        padding:13px 23px 8px;
        .confirm_chosen_school{
          background-color:$hover_color;
          margin:0 auto;
          cursor:pointer;
          display:block;
          padding:10px 20px;
          width:250px;
          color:white;
          font-weight:bold;
          text-align:center;
        }
        #champion_place_bet{
          .crown{
            width:37px;
            height:37px;
            overflow:hidden;
            margin:0 auto;
            margin-top:10px;
          }
          .school{
            width:119px;
            margin:20px auto;
            display:block;
          }
          .champion_school{
            width:282px;
            margin:0 auto;
            margin-top:20px;
            position:relative;
            .champion_image{
            position:absolute;
            top:65px;
            left:85px;
            }
          }
        }
      }
      #main_banner{
        margin-top:5px;
      }
      section{
        margin-top:50px;
        position:relative;
        h2{
            text-align:center;
            font-weight:bold;
            font-size:20px;
        }
        table{
          width:100%;
          td{
            padding:10px 20px;
          }
          .left{
            text-align:right;
            width:50%;
          }
          .right{
            text-align:left;
            width:50%;
          }
        }
        .left_four {
          width: 372px;
          float: left;
        }
        .right_four {
          width: 372px;
          float: right;
        }
        .school{
          max-width:172px;
          overflow:hidden;
          margin-top:40px;
          padding:0 6px;
          display:inline-block;
          .stake{
              font-size:12px;
            }
          .school_name{
            text-align:center;
            font-weight:bold;
            display:block;
            font-size:14px;
          }
          .school_uniform{
            width:172px;
            height:172px;
            position:relative;
            overflow:hidden;
            .background_uniform{
              position:absolute;
              top:0;
              left:0;
              z-index:0;
            }
            .uniform_image{
              position:absolute;
              top:12px;
              left:27px;
              z-index:1;
            }
          }
          a{
            img{
            }
            @extend .school_name;
          }
          .select_button{
            display:none;
          }
          .video_button{
            display:none;
          }
          .deselect_button{
            display:none;
          }
          .school_address{
            @extend .school_name;
            font-weight:normal;
            margin-top:4px;
            font-size:11px;
          }
          .odd_vote{
            margin-left:10px;
            margin-top:5px;
            position:relative;
            background:url(../img/odd_vote.png) no-repeat;
            height:16px;
            overflow:hidden;
            span{
              left:50px;
              font-size:12px;
              color:$hover_color;
              &.odd_number{
                position:absolute;
                bottom:2px;
              }
              &.vote_number{
                position:absolute;
                bottom:3px;
                display:none;
              }
            }
          }
        }
        .hover{
          background-color:black;
          width:172px;
          padding:4px;
          position:absolute;
          z-index:5;
          .arrow{
            position:absolute;
            bottom:-10px;
            left:45%;
          }
        }
        &#koushien_match{
          .deselect_button{
            display:none;
          }
          .school_uniform:hover{
            .select_button{
              @include rounded_corners(5px);
              position:absolute;
              top:50px;
              left:60px;
              background:$hover_color;
              display:block;
              z-index:3;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
            
            .video_button{
              @include rounded_corners(5px);
              position:absolute;
              top:85px;
              left:40px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
          }
        }
        &#koushien_first_round{
          .deselect_button{
            display:none;
          }
          .hide{
            display:none !important;
          }
          .school_uniform:hover{
            .select_button{
              @include rounded_corners(5px);
              position:absolute;
              top:50px;
              left:60px;
              background:$hover_color;
              display:block;
              z-index:3;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
            
            .video_button{
              @include rounded_corners(5px);
              position:absolute;
              top:85px;
              left:40px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
          }
        }
        &#koushien_second_round{
          .video_button{
            display:none;
          }
          .hide{
            display:none !important;
          }
          .school_uniform:hover{
            .deselect_button{
              @include rounded_corners(5px);
              position:absolute;
              top:85px;
              left:50px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
            .select_button{
              @include rounded_corners(5px);
              position:absolute;
              top:50px;
              left:60px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
          }
        }
        &#koushien_third_round{
          .video_button{
              display:none;
          }
          .hide{
            display:none !important;
          }
          .school_uniform:hover{
            .deselect_button{
              @include rounded_corners(5px);
              position:absolute;
              top:85px;
              left:50px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
            .select_button{
              @include rounded_corners(5px);
              position:absolute;
              top:50px;
              left:60px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
          }
        }
        &#champion{
          .video_button{
              display:none;
          }
          .hide{
            display:none !important;
          }
          .school_uniform:hover{
            .deselect_button{
              @include rounded_corners(5px);
              position:absolute;
              top:75px;
              left:48px;
              background:$hover_color;
              z-index:3;
              display:block;
              padding:5px;
              cursor:pointer;
              &:hover{
                color:white;
                text-decoration:none;
              }
            }
          }
        }
      }
      #koushien_guide{
        .note{
          text-align:center;
          margin-top:230px;
        }
        .choose_team{
          float:left;
          position:relative;
          margin-left:30px;
          color:white;
          .first_step_text{
            position:absolute;
            top:45%;
            left:27%;
          }
        }
        .arrow_step_1{
          float:left;
          margin-left:40px;
          margin-top:55px;
        }
        .place_bets{
          @extend .choose_team;
          .second_step_text{
            position:absolute;
            top:45%;
            left:31%;
          }
        }
        .arrow_step_2{
          @extend .arrow_step_1;
        }
        .real_zenny{
          @extend .choose_team;
          .third_step_text{
            position:absolute;
            top:45%;
            left:20%;
          }
        }
      }
      #koushien_match{
        .stadium{
          margin-top:100px;
        }
        #first_match_school{
          position:absolute;
          top: -80px;
          left: 192px;
        }
        #second_match_school{
          position:absolute;
          top: -80px;
          left:560px;
        }
        .vs_img{
          position:absolute;
          top: 30px;
          left:445px;
        }
      }
    }
  }

  .video_background{
    width: 100%;
    height: 100%;
    background-color: rgba(158, 158, 158, 0.56);
    position: fixed;
    z-index: 10000;
    display: block;
    top: 0;
    cursor:pointer;
    .video_container{
      max-width:560px;
      margin:0 auto;
      position:relative;
      top:20%;
      padding:10px;
      background-color:white;
      z-index: 10001;
      .close_button{
        @include rounded_corners(10px);
        position: absolute;
        top: -10px;
        right: -10px;
        display: inline-block;
        overflow: hidden;
        width: 20px;
        height: 20px;
        border: 1px solid #1a99b7;
        background: #1a99b7;
        color: #fff;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}